# Virtual Environment
venv/
.venv/
env/
.env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configuration files
.idea/
.vscode/

# Alembic
.alembic_version/

scripts/seed_data/
scripts/seed_data_cleaned/